* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background: #f2f2f2;
}

.outter-container {
    width: 100%;
    min-height: 100vh;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.container {
    width: 70%;
    padding: 4rem;
}

.header {
    font-size: 40px;
    color: #009688;
}

.box-container {
    gap: 10px;
}

.noti-box {
    background: white;
    padding: 2rem;
    font-size: 20px;
    gap: 20px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.137);
    border-radius: 4px;
    animation: fade 0.3s ease-in;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.noti-date {
    color: #5c5c5c;
    font-size: 18px;
}

.noti-header {
    gap: 10px;
}

.noti-header > :nth-child(1) {
    font-size: 22px;
    color: #607d8b;
}

.noti-body {
    color: rgb(24, 24, 24);
}
